{{!-- link food routes API --}}


<div class="#content-container">
  <div class="recipe-header">
    {{recipe_title}}
  </div>
  <div class="form">
    <p>
      {{category}}
    </p>

      <p class="directions">
        {{directions}}
      </p>
  </div>
</div>