<form class="login-form">
    <label for="username">Username:</label>
    <input id="login" type="text" id="username" name="username">
    <br>
    <label for="password">Password:</label>
    <input id="password-login" type="password" id="password" name="password">
    <br><br>
    <input type="submit" value="Login">
</form>

<script src="./login.js"></script>
