@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Square+Peg&family=Updock&display=swap');

#content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin-bottom: 20%;
}

img {
  width: 200px;
  height: 100px;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
}

a {
  color: #00B7FF;
}

h1 {
  color: greenyellow;
  font-size: 3em;
  text-align: center;
  margin-bottom: 1em;
  font-size: 5em;
  margin-bottom: 30%;
  height: 45px;
  font-family: 'Square peg', cursive;
}

.recipe-header {
  color: greenyellow;
  background-color: black;
  font-size: 3em;
  text-align: center;
  margin-bottom: 1em;
  font-size: 5em;
  margin-bottom: 30%;
  height: 45px;
  font-family: 'Pacifico', cursive;
}

form {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

body {
  background-color: #333333;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

label {
  text-align: left;
  margin-bottom: 0.5em;
  color: white;
}

input[type="text"], input[type="password"] {
  margin-bottom: 1em;
  padding: 0.5em;
  font-size: 1em;
  border-radius: 4px;
  border: 1px solid white;
  color:black;
}


input[type="submit"] {
  background-color: #4CAF50;
  color: black;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.directions {
  background-color: #4CAF50;
  color: black;
  padding: 0.5em 1em;
  line-height: 10px;
}